@{
    <meta name="viewport" content="width=device-width" />
    ViewBag.Title = "Meses Gracia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //No mover el orden en que se invocan los script, si deseas a agregar que sea al final 
    <script src="~/Scripts/js/gridUI.js"></script> 
    <script src="~/Scripts/js/funcionesUI.js"></script>
    <script src="~/Scripts/js/jquery-3.0.0.js"></script>
    <script src="~/Scripts/js/jquery-1.9.1.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script> 
     
}
<section id="Cuerpo">
    <h2>Crédito Simple Meses Gracia</h2>
    <div class="container">
        <div id="alert_placeholder"></div>
        <fieldset>
            <legend></legend>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Mensualidad sin IVA</h3>
                        </div>
                        <div class="panel-body">
                            <label id="lblMenSinIva" class="form-control"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tasa de Int Anual </h3>
                        </div>
                        <div class="panel-body">
                            <input id="txtTasaIntAnual" placeholder="Tasa Int. Anual" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tasa de interés mensual </h3>
                        </div>
                        <div class="panel-body">
                            <label id="lblIntMensual" class="form-control"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Plazo Meses</h3>
                        </div>
                        <div class="panel-body">
                            <input id="txtPlazoMeses" placeholder="Plazo Meses" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Monto a Financiar </h3>
                        </div>
                        <div class="panel-body">
                            <input id="txtMontoFinanciamiento" placeholder="Monto Financiamiento" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Meses gracia para pago capital </h3>
                        </div>
                        <div class="panel-body">
                            <input id="txtMesesGracia" placeholder="Meses de Gracias" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Se cobra IVA </h3>
                        </div>
                        <div class="panel-body">
                            <select id="cbConIva" class="form-control">
                                <option value="S" selected="selected">Si</option>
                                <option value="N">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">IVA </h3>
                        </div>
                        <div class="panel-body">
                            <input id="Number1" placeholder="IVA" type="number" value="16" disabled="disabled" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <input id="btnCalcular" type="button" value="Calcular Crédito" class="btn btn-primary" />
                    <input id="btnExcel" type="button" value="Exportar" style="display: none;" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>

    </div>
    <div class="container-fluid">
        <div id="tblDatos" style="color: black"></div>
    </div>
    <br />
    <div id="dvHistoria" style="display: none" class="container">
        <p>*Cotización sujeta a cambios sin previo aviso.</p>
        <p>**Operación sujeta a integración de expediente y aprobación de crédito.</p>
        <p>***La presente no implica compromiso o responsabilidad de Presta Simple, S.A. de C.V., SOFOM, ENR.</p>
        <p>Xola 324, Col. Del Valle Norte, Deleg. Benito Juárez, México, Distrito Federal. C.P. 03103. Tel. 5998 0000</p>
    </div>
    <br />
</section>

<script type="text/javascript">
    $(document).ready(function () {


        $('#txtTasaIntAnual').val('');
        $('#txtPlazoMeses').val('');
        $('#txtMontoFinanciamiento').val('');
        $('#txtMesesGracia').val('');


        $('#lblMenSinIva').val('$0');
        $('#lblIntMensual').text(obtenerInteresMensual() + '%');
        $('#lblTasaEfecAnual').val('0%');
        $('#lblTasaEfecMens').val('0%');
        $('#dvHistoria').hide();

        $("#txtTasaIntAnual").change(function () {
            
            var tasaMensual = parseFloat(obtenerInteresMensual()).toFixed(2) + '%';
            $('#lblIntMensual').text(tasaMensual);
            $('#lblTasaEfecMens').text(tasaMensual);

            var txtTasaIntAnual = $('#txtTasaIntAnual').val();
            $('#lblTasaEfecAnual').text(txtTasaIntAnual);

            $('#tblDatos').hide();

        });


        document.getElementById('btnExcel').onclick = function (e) {
            var exrp = TablaEnExcel('tblDatos', 'ReporteCreditoSimpleBallon');
        }

        document.getElementById('btnCalcular').onclick = function (e) {

            var txtTasaIntAnual = $('#txtTasaIntAnual').val();
            var txtPlazoMeses = $('#txtPlazoMeses').val();
            var txtMontoFinanciamiento = $('#txtMontoFinanciamiento').val();
            var txtMesesGracia = $('#txtMesesGracia').val();
            var iva = ($('#cbConIva').val() == 'S') ? 16 : 0;

            $('#tblDatos').show();

            if (txtTasaIntAnual == '' || txtPlazoMeses == '' || txtMontoFinanciamiento == '') {
                MostrarAlerta("¡Advertencia!", " " + "Favor de llenar correctamente los datos.", "alert-warning");
            } else {

                $('#lblTasaEfecAnual').text(txtTasaIntAnual);

                var jsonDatos = createJson(txtTasaIntAnual, txtPlazoMeses, txtMontoFinanciamiento, txtMesesGracia, iva);

                var gvDatosCreditoSimple = new GViewUI({
                    idArea: 'tblDatos',
                    alto: 530,
                    ordenar: 'PERIODO',
                    aCampos: [
                        { columna: 'PERIODO', titulo: 'Periodo', vDefault: '', tipo: 'numerico', ancho: 65 }
                        , { columna: 'FECHA_PAGO', titulo: 'Fecha Pago', vDefault: '', tipo: 'texto', ancho: 80 }
                        , { columna: 'FECHA_PAGO_REAL', titulo: 'Fecha Pago Real', vDefault: '', tipo: 'texto', ancho: 130 }
                        , { columna: 'DIAS_ATRASO', titulo: 'Días Atraso', vDefault: '', tipo: 'numerico', ancho: 150 }
                        , { columna: 'SALDO_INSOLUTO', titulo: 'Saldo Insoluto', vDefault: '', tipo: 'moneda', ancho: 150 }
                        , { columna: 'CAPITAL', titulo: 'Capital', vDefault: '', tipo: 'moneda', ancho: 150 }
                        , { columna: 'INTERESES', titulo: 'Intereses', vDefault: '', tipo: 'moneda', ancho: 150 }
                        , { columna: 'IVA', titulo: 'IVA', vDefault: '', tipo: 'moneda', ancho: 130 }
                        , { columna: 'PAGO_TOTAL', titulo: 'Pago Total', vDefault: '', tipo: 'moneda', ancho: 150 }
                        , { columna: 'PAGO_REAL', titulo: 'Pago Real', vDefault: '', tipo: 'moneda', ancho: 80 }
                        , { columna: 'DIFERENCIA', titulo: 'Diferencia', vDefault: '', tipo: 'numerico', ancho: 100 }
                        , { columna: 'INTERES_MORATORIOS', titulo: 'Intereses Moratorios', vDefault: '', tipo: 'numerico', ancho: 80 }
                    ]
                });

                var arr = new Array();
                for (i in jsonDatos) {
                    try {
                        arr.unshift(jsonDatos[i]);
                    } catch (e) {
                        continue;
                    }
                }

                if (jsonDatos.length > 0) {
                    $('#btnExcel').show();
                }

                gvDatosCreditoSimple.LlenaGView({ datos: arr });
                $('#dvHistoria').show();

            }
        };

        $(".number").keydown(function (e) {
            // Permite: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Permite: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Permite: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // solo permitir lo que no este dentro de estas condiciones es un return false
                return;
            }
            // Aseguramos que son numeros
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $("input").change(function () {
            $('#tblDatos').hide();
            $('#dvHistoria').hide();
            $('#btnExcel').hide();
        });

        $("#txtPagosCapital").change(function () {

            var txtPlazoMeses = $('#txtPlazoMeses').val();
            var txtPagosCapital = $('#txtPagosCapital').val();

            var plazoEntrePagos = esEntero(txtPlazoMeses / txtPagosCapital);

            if (!plazoEntrePagos) {

                $('#txtPagosCapital').val('');

                MostrarAlerta("¡Error!", " Número Invalido", "alert-danger");
            }

        });

    });
    function esEntero(numero) {
        if (numero % 1 == 0) {
            return true;
        } else {
            return false;
        }
    }
    function obtenerInteresMensual() {
        var txtTasaIntAnual = $('#txtTasaIntAnual').val();

        if (txtTasaIntAnual == 0) {
            return '0';
        }

        var tasaIntMensual = txtTasaIntAnual / 12;
        return tasaIntMensual;
    }
    function createJson(tasaIntAnual, plazoMeses, montoFinanciamiento, mesesGracias, iva) {
        var jsonObj = [];

        var tasaIntMensual = obtenerInteresMensual();
        var saldoInsoluto = montoFinanciamiento;
        var capital = 0;
        var pagoTotal = 0.0;
        var intereses = parseFloat((saldoInsoluto * tasaIntMensual) / 100);
        var valIva = (iva > 0) ? parseFloat((intereses * iva) / 100).toFixed(2) : 0;
        var promsaldoInsoluto = 0.0;
        var sumaCapital = 0;
        var sumaIntereses = 0;
        var sumaPagoTotal = 0;
        var sumIva = 0.0;
        var item;

        var mensuSinIva = (montoFinanciamiento / plazoMeses) + (((montoFinanciamiento * plazoMeses * tasaIntMensual) / plazoMeses) / 100);

        $('#lblMenSinIva').text('$' + formatoNumero(mensuSinIva, 2, '.', ','));


        for (var i = 0; i <= plazoMeses; i++) {

            item = {};

            if (i == 0) {
                item["PERIODO"] = 0;
                item["FECHA_PAGO"] = '';
                item["FECHA_PAGO_REAL"] = '';
                item["DIAS_ATRASO"] = '';
                item["SALDO_INSOLUTO"] = saldoInsoluto;
                item["CAPITAL"] = '';
                item["INTERESES"] = '';
                item["IVA"] = '';
                item["PAGO_TOTAL"] = '';
                item["PAGO_REAL"] = '';
                item["DIFERENCIA"] = '';
                item["INTERES_MORATORIOS"] = '';

                promsaldoInsoluto += parseFloat(saldoInsoluto);

                jsonObj.push(item);

                continue;
            }


            if (i <= mesesGracias) {
                capital = 0;
                pagoTotal = parseFloat(intereses) + parseFloat(valIva);

            } else {
                capital = montoFinanciamiento / (plazoMeses - mesesGracias);
                pagoTotal = parseFloat(capital) + parseFloat(intereses) + parseFloat(valIva);
                saldoInsoluto = parseFloat(saldoInsoluto) - parseFloat(capital);
            }

            promsaldoInsoluto += parseFloat(saldoInsoluto);
            sumaCapital += parseFloat(capital);
            sumaIntereses += parseFloat(intereses);
            sumaPagoTotal += parseFloat(pagoTotal);
            sumIva += parseFloat(valIva);

            item["PERIODO"] = i;
            item["FECHA_PAGO"] = '';
            item["FECHA_PAGO_REAL"] = '';
            item["DIAS_ATRASO"] = '';
            item["SALDO_INSOLUTO"] = saldoInsoluto;
            item["CAPITAL"] = capital;
            item["INTERESES"] = intereses;
            item["IVA"] = valIva;
            item["PAGO_TOTAL"] = pagoTotal;
            item["PAGO_REAL"] = '';
            item["DIFERENCIA"] = '';
            item["INTERES_MORATORIOS"] = '';

            jsonObj.push(item);
        }


        if (plazoMeses > 0) {

            item = {};

            var totalPlazo = parseInt(plazoMeses) + 1;

            promsaldoInsoluto = parseFloat(promsaldoInsoluto) / totalPlazo;

            item["PERIODO"] = totalPlazo;
            item["FECHA_PAGO"] = 'TOTAL';
            item["FECHA_PAGO_REAL"] = '';
            item["DIAS_ATRASO"] = '';
            item["SALDO_INSOLUTO"] = 0;
            item["CAPITAL"] = sumaCapital;
            item["INTERESES"] = sumaIntereses;
            item["IVA"] = sumIva;
            item["PAGO_TOTAL"] = sumaPagoTotal;
            item["PAGO_REAL"] = '';
            item["DIFERENCIA"] = '';
            item["INTERES_MORATORIOS"] = '';

            jsonObj.push(item);
        }






        return jsonObj;
    }
    function formatoNumero(numero, decimales, separadorDecimal, separadorMiles) { // v2007-08-06
        numero = parseFloat(numero);
        if (isNaN(numero)) {
            return "";
        }

        if (decimales !== undefined) {
            // Redondeamos
            numero = parseFloat(numero).toFixed(decimales);
        }

        // Convertimos el punto en separador_decimal
        numero = numero.toString().replace(".", separadorDecimal !== undefined ? separadorDecimal : ",");

        if (separadorMiles) {
            // Añadimos los separadores de miles
            var miles = new RegExp("(-?[0-9]+)([0-9]{3})");
            while (miles.test(numero)) {
                numero = numero.replace(miles, "$1" + separadorMiles + "$2");
            }
        }

        return numero;
    }
 
</script>
