@{
    ViewBag.Title = "Inicio Pyme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="Cuerpo">
    <div class="container">
        <div class="jumbotron">
            <h1>Bienvenido al Sistema de Cartera</h1>
            <div style="text-align: center;">
                <img src="~/Resources/image/credito-pymes.jpg" />
            </div>

        </div>
    </div>
</section>
@*No mover el orden en que se invocan los script, si deseas a agregar que sea al final*@ 
<script src="~/Scripts/js/jquery-3.0.0.js"></script>
<script src="~/Scripts/js/jquery-1.9.1.js"></script>
<script src="~/Scripts/js/jquery.min.js"></script>
<script src="~/Scripts/js/bootstrap.min.js"></script>