@using PYME_MVC.Models.ConfiguracionServicios
@using PYME_MVC.Models.InvocarServiciosGenerales
 
@{
    Dictionary<string, string> lstSexo = new Dictionary<string, string>();
    lstSexo.Add("Femenino", "F");
    lstSexo.Add("Masculino", "M");
    ViewBag.Title = "People List";
}
<div>
 
</div>
